.vscode/
0_SDR/.vscode
0_SDR/iq_to_nfm_audio.py
0_SDR/iq_to_wfm_audio.py
0_SDR/plot_noise_csv.py
1_balizas_database
3_matlab_scripts/4u1un.mp3
3_matlab_scripts/14MHz1_muestra_1.wav
3_matlab_scripts/18MHz11_muestra_1.wav
3_matlab_scripts/18MHz11_muestra_2.wav
noise_logs/
plots/
recordings/
sdr_venv/
vhf_recordings/
beacon_log.csv
beacon_noise_baseline.json
vhf_noise_baseline.json
vhf_events_log.csv